<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bambu Printer Farm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/site.css" rel="stylesheet"/>
</head>
<body>
    <header>
    <div class="container text-left">
        <div class="row">
            <div class="col-2"><img src="/img/bambu-logo.png"></div>
            <div class="col-8"><h1>Bambu Farm</h1></div>
            <div class="col-2">
                <div class="wrapper">
                    <a title="View Source on Github" href="https://github.com/davglass/bambu-farm"><img src="/img/github.svg" class="github"> davglass</a>
                </div>
            </div>
        </div>
    </div>

    </header>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/site.js"></script>
</body>
</html>
